<div class="flex flex-row items-start p-0 mb-2">
    <div class="relative p-1">
        <div class="flex flex-col items-center justify-around w-20 h-20 p-2 rounded-2xl shadow-md dark:shadow-light-md bg-white dark:bg-black">
            <div class="bg-orange-500 text-xs text-white py-3 px-3 rounded-full font-mono tracking-widest">@payment.FriendPayer.PayerFriend.Initials</div>
            <p class="font-bold text-xs text-center text-orange-500 w-24 overflow-hidden truncate">@payment.FriendPayer.PayerFriend.Name</p>
        </div>
    </div>
    <div class="w-px flex flex-col items-start pt-2 flex-none self-stretch flex-grow">
        <div class="flex flex-row justify-between items-center p-0 flex-none order-none self-stretch flex-grow-0">
            <span class="w-1.5 h-1.5 bg-orange-500 rounded-full mr-1"></span>
            <span class="w-1.5 h-1.5 bg-orange-500 rounded-full mr-1"></span>
            <span class="w-1.5 h-1.5 bg-orange-500 rounded-full mr-1"></span>
            <span class="w-1.5 h-1.5 bg-orange-500 rounded-full mr-1"></span>
            <span class="w-1.5 h-1.5 bg-orange-500 rounded-full mr-1"></span>
            <span class="w-1.5 h-1.5 bg-orange-500 rounded-full mr-1"></span>
            <span class="w-1.5 h-1.5 bg-orange-500 rounded-full"></span>
        </div>
        <div class="flex flex-col items-start px-1 flex-none self-stretch flex-grow-0 my-1">
            <p class="flex-none self-stretch text-sm dark:text-white"><b>@payment.FriendPayer.PayerFriend.Name</b> le tiene que pagar a <b>@payment.FriendCollector.CollertorFriend.Name</b></p>
            <p class="flex-none self-stretch text-orange-500 text-xl"><b>$@payment.RoundedPaymentAmount</b></p>
        </div>
    </div>
    <div class="relative p-1">
        <div class="flex flex-col items-center justify-around w-20 h-20 p-2 rounded-2xl shadow-md dark:shadow-light-md bg-white dark:bg-black">
            <div class="bg-white dark:bg-black text-orange-500 text-xs py-3 px-3 rounded-full font-mono tracking-widest border-orange-500 border-2">@payment.FriendCollector.CollertorFriend.Initials</div>
            <p class="font-bold text-xs text-center text-orange-500 w-24 overflow-hidden truncate">@payment.FriendCollector.CollertorFriend.Name</p>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Payment payment { get; set; }
}
